*.go linguist-language=Go
*.sh linguist-language=Shell
*.js linguist-language=JavaScript
*.html linguist-language=HTML linguist-detectable=false
*.tsx linguist-language=TypeScript linguist-detectable=false
*.ts linguist-language=TypeScript linguist-detectable=false
